bory{
    background-color: green;
    color: rgb(191, 63, 63);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    heigt: 700px;
    margin: 0;
}
button{
    background-color: coral;
    color: blue;
    font-family: "Bai Jamjuree", sans-serif;
}